.leftBar__wrap{
    min-width: 300px;
    min-height: 100vh;
    background-image: url('../../../public/img/bg_leftbar.png');
    background-repeat: no-repeat;
    background-position: top;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    .leftBar__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 260px;
        .leftBar__info_photo{
            margin-top: 130px;
            .leftBar__info_photo_img{
                width: 100px;
                height: 100px;
                border: 2px solid #ffffff;
                border-radius: 50%;
            }
        }
        .leftBar__info_about_my{
            min-width: 260px;
            border-bottom: 1px solid #131313;
        }
        .leftBar__info_name{
            margin: 19px auto 0px;
            color: #ffffff;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
        }
        .leftBar__info_jobTitle{
            margin: 3px auto;
            color: #ffffff;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
        }
        .leftBar__info_linkContacts{
            margin-top: 17px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            gap: 20px;
            .leftBar__info_linkContacts_link{
                width: 25px;
                height: 25px;
                .leftBar__info_linkContacts_img{
                    width: 25px;
                    height: 25px;
                }
            }
            
        }
    }

    .leftBar__info_about{
        margin-top: 30px;
        border-bottom: 1px solid #131313;
        display: flex;
        flex-direction: column;
        align-items: center;
        .leftBar__info_about_description{
            margin: 0;
            padding-bottom: 30px;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
            max-width: 260px;
        }
    }
    
    .leftBar__info_btngroup{
        max-width: 260px;
        margin-top: 30px;
        display: flex;
        gap: 10px;
        .leftBar__info_btngroup_project{
            width: 120px;
            height: 40px;
            border-radius: 15px;
        }
        .leftBar__info_btngroup_contact{
            width: 120px;
            height: 40px;
            border-radius: 15px;
        }
    }
}