*{
    margin: 0;
    padding: 0;
}

//левый фрагмент
.leftBar__wrap{
width: 25vw;
height: 100vh;
background-image: url('../../../public/img/gitbg.png');
background-size: 70px;
background-position: right;
background-repeat: repeat-y;
display: flex;
flex-direction: column;
align-items: center;
padding-right: 70px;
//личная информаци    
    .leftBar__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        //фото
        .leftBar__info_photo{
            .leftBar__info_photo_img{
                border-radius: 50%;
                width: 12vw;
                height: 12vw;
            }
        }
        //имя
        .leftBar__info_about_my{
            margin-top: 40px;
        .leftBar__info_name{
            font-size: 30px;
            color: var(--text-color-content);
            transition: color 600ms linear;
        }
        .leftBar__info_jobTitle{
            font-family: 'VictorMonoLight';
            margin-top: 5px;
            text-align: center;
            color: var(--text-color-content);
            transition: color 600ms linear;
        }

        //контакты
        .leftBar__info_linkContacts{
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .leftBar__info_linkContacts_link{
                .leftBar__info_linkContacts_img{
                    width: 40px;
                    height: 40px;
                    transition: 500ms;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }   
        }
    }
    //скилы
    .leftBar__info_skils{
        margin-top: 50px;
        width: 15vw;
        //заголовок
        .leftBar__info_skils_title{
            color: var(--text-color-content);
            transition: color 600ms linear;
        }
        //список
        .leftBar__info_skils_list{
            margin-top: 20px;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: var(--text-color-content);
            transition: color 600ms linear;
            //элементы
            .leftBar__info_skils_list_item{
                display: flex;
                flex-direction: row;
                align-items: center;
                //иконки
                .leftBar__info_skils_img{
                    width: 45px;
                    height: 45px;
                    margin-right: 5px;
                }
            }
        }
    }
    //кнопки
    .leftBar__info_btngroup{
        margin-top: 50px;
        display: flex;
        gap: 25px;
        .leftBar__info_btngroup_project{
            font-family: 'VictorMono';
            font-size: 25px;
            font-weight: 500;
            padding: 5px 10px;
            cursor: pointer;
            background-color: var(--btn-background-color);
            transition: background-color 600ms linear;
            color: var(--btn-text-color);
            transition: color 600ms linear;
            &:hover{
                transition: 300ms;
                background-color: var(--btn-hover-background);
                color: var(--btn-text-hover-color);
                box-shadow: 7px 7px 7px var(--shadow-hover-color);
            }
        }
        .leftBar__info_btngroup_contact{
            cursor: pointer;
            border: 2px solid #000;
            text-decoration: none;
            padding: 5px 10px;
            font-family: 'VictorMono';
            font-size: 25px;
            font-weight: 500;  
            background-color: var(--btn-background-color);
            transition: background-color 600ms linear;
            color: var(--btn-text-color);
            transition: color 600ms linear;
            &:hover{
                transition: 300ms;
                background-color: var(--btn-hover-background);
                color: var(--btn-text-hover-color);
                box-shadow: 7px 7px 7px var(--shadow-hover-color);
            }
            }
        }
    }

